.competition {
  &__slogan {

    font-family: $default-font;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: $text-color;
    text-align: center;

    //background-color: $background-color-main;
  }

  &__slogan--form {
    display: none;
  }

  &__wrapper {
    @include wrapper();
  }
}

@media (min-width: $tablet-width) {
  .competition {
    &__form {
      display: flex;
      flex-direction: column;
    }

    &__slogan {
      font-size: 18px;
      padding: 0 29px;
      margin: 23px 0;
    }

    &__slogan--form {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .competition {
    &__slogan {
      padding: 0 68px;
    }

    &__form {
      padding-top: 0;
    }
  }
}
