.competition__slogan {
  font-family: $default-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $text-color;
  text-align: center;
}

.competition__slogan-form {
  display: none;
}

.competition__wrapper {
  padding-top: 31px;
  padding-bottom: 15px;

  @include wrapper();
}

@media (min-width: $tablet-width) {
  .competition__wrapper {
    margin-top: 37px;
  }

  .competition__form {
    display: flex;
    flex-direction: column;
  }

  .competition__slogan {
    font-size: 18px;
    padding: 0 29px;
    margin: 23px 0;
  }

  .competition__slogan-form {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .competition__wrapper {
    padding-bottom: 0;
  }

  .competition__slogan {
    padding: 0 68px;
  }

  .competition__form {
    padding-top: 0;
  }
}
