.contacts {
  padding-top: 45px;
  position: relative;
  text-align: center;

  // ВРЕМЕННО ВМЕСТО КАРТЫ
  padding-bottom: 220px;

  &__wrapper {
    @include wrapper();
  }

  &__text {
    padding: 0 20px;
  }

  &__slogan {
    margin-top: 0;

    font-family: $default-font;
    font-weight: 200;
    font-size: 24px;
    color: $text-color;
  }

  &__phone,
  &__email,
  &__come-to-us {
    font-family: $default-font;
    font-weight: bold;
    font-size: 18px;
    color: $text-color;
  }

  &__link,
  &__address {
    display: block;

    font-family: $default-font;
    font-weight: 200;
    font-size: 24px;
    text-decoration: none;
    color: $text-color--additional;
  }

  &__map {
    display: block;
    position: relative;

    overflow: hidden;
  }

  &__map::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;

    width: 100vw;
    height: 100%;

    mask: url("../img/bg-triangle-white-footer.svg");
    mask-size: 100%;
    mask-position: 0 0;
    mask-repeat: no-repeat;
    background-color: $background-color-main;
  }

  &__map-image {
    margin-top: -426px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 50px;

    // ВРЕМЕННО ВМЕСТО КАРТЫ
    padding-bottom: 400px;

    &__slogan {
      margin-bottom: 0;

      font-size: 40px;
      line-height: 45px;
    }

    &__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__phone,
    &__email,
    &__come-to-us {
      display: block;
      width: 298px;
      margin-top: 43px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {

    // ВРЕМЕННО ВМЕСТО КАРТЫ
    padding-bottom: 520px;

    &__wrapper {
      padding-top: 15px;
    }

    &__slogan {
      font-size: 50px;
      line-height: 60px;
    }

    &__links {
      margin-top: 6px;
      justify-content: space-between;
    }

    &__link,
    &__address {
      margin-top: 20px;
    }

    &__phone {
      order: 1;
    }

    &__come-to-us {
      order: 2;
    }

    &__email {
      order: 3;
    }
  }
}
