.contacts {
  padding-top: 45px;
  position: relative;
  text-align: center;
  overflow: hidden;

  &__wrapper {
    @include wrapper();

    // ВРЕМЕННО ВМЕСТО КАРТЫ
    //padding-bottom: 220px;
  }

  &__text {
    padding: 0 20px;
  }

  &__slogan {
    margin-top: 0;
    margin-bottom: 28px;

    font-family: $default-font;
    font-weight: 200;
    font-size: 24px;
    color: $text-color;
  }

  &__phone,
  &__email,
  &__come-to-us {
    margin: 17px 0;
    font-family: $default-font;
    font-weight: bold;
    font-size: 18px;
    color: $text-color;
  }

  &__come-to-us {
    margin-bottom: 20px;
  }

  &__link,
  &__address {
    display: block;

    font-family: $default-font;
    font-weight: 200;
    font-size: 24px;
    text-decoration: none;
    color: $text-color--additional;
  }

  &__email &__link:hover {
    color: $blue--dark;
    text-decoration: underline;
  }

  &__email &__link:active {
    color: rgba($blue--dark, 0.3);
    text-decoration: none;
  }

  &__map {
    display: block;
    position: relative;
    width: 100vw;
    height: 220px;


    //overflow: hidden;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;

    width: 152vw;
    height: 100px;

    top: 396px;
    left: calc(-76vw + 50%);

    mask: url("../img/bg-triangle-white-footer.svg");
    mask-size: contain;
    mask-position: 0 0;
    mask-repeat: no-repeat;
    background-color: $background-color-main;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 46px;

    &__wrapper {
      margin-bottom: 6px;
    }

    &__slogan {
      margin-bottom: 0;

      font-size: 40px;
      line-height: 47px;
    }

    &__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__phone,
    &__email,
    &__come-to-us {
      display: block;
      width: 298px;
      margin-top: 41px;
      margin-bottom: 5px;
    }

    &__come-to-us {
      margin: 41px auto 5px;
    }

    &::before {
      width: 150vw;
      height: 100px;

      top: 373px;
      left: calc(-72.5vw + 50%);
    }

    &__map {
      height: 390px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    &__wrapper {
      padding-top: 16px;
    }

    &__slogan {
      font-size: 50px;
      line-height: 60px;
    }

    &__links {
      margin-top: 13px;
      justify-content: space-between;
    }

    &__link,
    &__address {
      margin-top: 20px;
    }

    &__phone {
      order: 1;
    }

    &__come-to-us {
      order: 2;
    }

    &__email {
      order: 3;
    }

    &__map {
      height: 510px;
    }

    &::before {
      width: 1200px;
      height: 134px;

      top: 356px;
      left: calc(-50.5vw + 50%);
      //background-color: black;
    }
  }
}
