.copyright {
  &__made-by {
    font-family: $default-font;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $text-color;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    display: flex;

    //------- Временно ---------//
    width: 148px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    //------- Временно ---------//
    width: 152px;

    &__made-by {
      font-size: 18px;
    }

    &__html-academy-link {
      margin-left: 7px;
    }
  }
}
