.editing {
  &__img {
    width: 300px;
    height: 400px;
  }

  &__list {
    position: relative;
    padding-top: 41px;
    padding-bottom: 101px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__radio {
    display: none;
  }

  &__range {
    display: none;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 58px;
    position: absolute;
    bottom: 3px;
    left: 18px;
  }

  &__element::before {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 1px;
    top: 154px;
    left: -20px;
    background-color: rgba($blue--dark, 0.033);
  }

  &__element:nth-child(2)::before,
  &__element:nth-child(3)::before {
    display: none;
  }

  &__radio--crop:checked ~ &__list &__range--crop,
  &__radio--fill:checked ~ &__list &__range--fill,
  &__radio--contrast:checked ~ &__list &__range--contrast {
    display: block;
  }

  &__icon {
    fill: rgba($blue--dark, 0.3);
  }

  &__icon:hover {
    fill: rgba($blue--dark, 0.5);
  }

  &__icon:active {
    fill: $pink;
  }

  &__radio--crop:checked ~ &__list &__icon--crop,
  &__radio--fill:checked ~ &__list &__icon--fill,
  &__radio--contrast:checked ~ &__list &__icon--contrast {
    fill: $pink;
  }

  &__icon--crop {
    margin-left: -11px;
  }

  &__icon--fill {
    margin-left: -15px;
    margin-top: 2px;
  }

  &__icon--contrast {
    margin-left: -6px;
    margin-top: 8px;
  }

  &__button {
    margin-bottom: 12px;
  }
}

@media (min-width: $tablet-width) {
  .editing {
    &__input-wrapper {
      width: 260px;
      padding-right: 13px;
    }

    &__list {
      display: block;
      padding-top: 9px;
      padding-bottom: 44px;
    }

    &__element {
      display: flex;
      justify-content: space-around;
      padding-bottom: 20px;
      position: relative;
    }

    &__element::before {
      content: "";
      display: block;
      position: absolute;
      width: 275px;
      height: 1px;
      top: 46px;
      left: -2px;
      background-color: rgba($blue--dark, 0.033);
    }

    &__element:nth-child(2)::before,
    &__element:nth-child(3)::before {
      display: block;
    }

    &__label {
      //display: flex;
      //justify-content: space-around;
      margin-bottom: 20px;
      //margin-top: 8px;
      margin-right: 4px;
    }

    &__icon--crop {
      width: 22px;
      height: 22px;
      margin-left: -14px;
    }

    &__icon--fill {
      width: 24px;
      height: 22px;
      margin-left: -13px;
    }

    &__icon--contrast {
      width: 16px;
      height: 16px;
      margin-left: -9px;
      margin-top: 0;
    }

    &__icon,
    &__icon:hover,
    &__icon:active {
      fill: $pink;
    }

    &__radio ~ &__list &__range {
      position: static;
    }

    &__range {
      display: block;
      width: 202px;
      margin: 0;
      margin-right: -11px;
    }

    &__button {
      margin-bottom: 24px;
    }

    &__button:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .editing {
    &__input-wrapper {
      width: 410px;
      padding-right: 0;
    }

    &__list {
      padding-top: 0;
    }

    &__label {
      margin-bottom: 22px;
      margin-top: 0;
    }

    &__element {
      padding-bottom: 0;
      justify-content: space-between;
    }

    &__element:first-child::before {
      width: 410px;
    }

    &__element::before {
      top: 53px;
      left: 0;
    }

    &__icon--crop {
      width: 44px;
      height: 45px;
      margin-left: -1px;
      margin-top: -3px;
    }

    &__icon--fill {
      width: 48px;
      height: 43px;
      margin-left: 0;
      margin-top: -1px;
    }

    &__icon--contrast {
      width: 32px;
      height: 32px;
      margin-left: 6px;
      margin-top: 2px;
    }

    &__range {
      width: 288px;
      margin-right: 30px;
      margin-top: 10px;
    }

    &__button {
      width: 183px;
      margin: 0;
    }

    &__buttons-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 93px;
    }
  }
}
