.features {
  text-align: center;
  position: relative;
  overflow: hidden;

  &__wrapper {
    padding-top: 16px;
    @include wrapper();
  }

  &__slogan {
    margin-bottom: 113px;

    font-family: $default-font;
    font-size: 24px;
    font-weight: 200;
    color: $text-color;
  }

  &__slogan-item:last-child {
    margin-top: 26px;
  }

  &__item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 422px;
  }

  &__picture {
    display: none;
  }

  &__item:last-child &__picture {
    display: block;
    order: 2;
    margin: 0 auto;
  }

  &__item:last-child &__title {
    margin: 0;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 11px;

    font-family: $default-font;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: $heading-color;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 32px;

    font-family: $default-font;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: $text-color;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;

    width: 130vw;
    height: 1050px;
    top: 234px;
    left: calc(-60vw + 50%);
    transform: rotate(-5.5deg);

    z-index: -1;
    background-color: $background-color-main--additional;
  }
}

@media (min-width: $tablet-width) {
  .features {
    &__wrapper {
      padding-top: 42px;
    }

    &__slogan {
      margin-top: 6px;
      margin-bottom: 47px;
      font-size: 40px;
      line-height: 50px;
    }

    &__slogan-item {
      margin: 0;
    }

    &__slogan-item:last-child {
      margin-top: 0;
      padding: 0 20px;
    }

    &__list {
      position: relative;
      width: calc(50%);
      padding-left: calc(50%);
      padding-top: 33px;
      padding-bottom: 7px;

      text-align: left;
    }

    &__item {
      margin: 36px 0;
    }

    &__item:last-child {
      display: block;
      height: auto;
    }

    &__item:last-child &__picture {
      position: absolute;
      top: 0;
      left: 0;
    }

    &__item:last-child &__title {
      margin-bottom: 10px;
    }

    &__text {
      margin-bottom: 35px;
    }

    &::before {
      top: 267px;
      transform: rotate(-4.5deg);
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    &__wrapper {
      padding-top: 0;
    }

    &__slogan {
      margin-top: 67px;
      margin-bottom: 77px;

      font-size: 50px;
      line-height: 60px;
    }

    &__slogan-item:last-child {
      padding: 0 107px;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      padding-bottom: 31px;

      text-align: center;
    }

    &__picture {
      display: block;
      margin: 0 auto;
    }

    &__item {
      margin-top: 0;
      margin-bottom: 0;
      width: 300px;
    }

    &__item:last-child &__picture {
      position: static;
    }

    &__item:last-child &__title,
    &__title {
      margin-top: 57px;
      margin-bottom: 30px;
      padding: 0 30px;

      font-size: 30px;
      line-height: 26px;
    }

    &__text {
      padding: 0 26px;
      font-size: 18px;
      line-height: 30px;
    }

    &::before {
      top: 370px;
    }
  }
}
