.form fieldset {
  border-radius: 2px;
}

.form__item {
  margin-bottom: 52px;
}

.form__name {
  border: none;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 25px;
  margin: 0;
}

.form__label--name,
.form__label--contacts {
  text-align: left;
  font-family: $default-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color--additional;
  letter-spacing: 0;
}

.form__input--name,
.form__input--contacts {
  margin-top: 5px;
  margin-bottom: 16px;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $border-color;
  border-radius: 2px;
  padding: 15px 21px;

  font-family: $default-font;
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;
  color: $text-color;
}

.form__input--name:hover,
.form__input--contacts:hover {
  border-color: $text-color;
}

.form__input--name:focus,
.form__input--contacts:focus {
  border-color: $text-color--additional;
}

.form__input--name:placeholder-shown,
.form__input--contacts:placeholder-shown {
  color: $text-color;
  letter-spacing: 0.4px;
}

.form__label--checkbox,
.form__label--radio {
  position: relative;
  padding-left: 70px;
  font-family: $default-font;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $text-color;
}

.form__label--checkbox::before {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  top: -6px;
  left: 0;
  border: 2px solid $border-color;
  background-color: $background-color-main;
}

.form__input:checked + .form__label--checkbox::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 20px;
  top: -1px;
  left: 15px;
  border: solid $pink;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form__label--radio::before {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: -7px;
  left: 0;
  border: 2px solid $border-color;
  background-color: $background-color-main;
}

.form__input:checked + .form__label--radio::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 4px;
  left: 12px;
  background-color: $pink;
}

.form__label:hover::before {
  border-color: $text-color;
}

.form__label:active::before {
  border-color: $pink;
}

.form__achievements-wrapper {
  position: relative;
}

.form__achievements-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100%;
  top: 0;
  left: calc(50% - 50vw);
  background-color: $background-color-main--additional;
}

.form__achievements {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

//.form__input[type="checkbox"],
//.form__input[type="radio"] {
//  display: none;
//}

.form__legend {
  padding: 38px 26px 44px;

  text-align: center;
  font-family: $default-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color--additional;
  letter-spacing: 0;
}

.form__legend--message {
  margin: 0 auto;
}

.form__contacts {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  border: none;
}

.form__legend--contacts {
  display: none;
}

.form__platform-wrapper {
  position: relative;
  margin-top: 26px;
}

.form__platform-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100%;
  top: 0;
  left: calc(50% - 50vw);
  background-color: $background-color-main--additional;
}

.form__platform {
  margin: 0;
  padding: 0;
  border: none;
}

.form__platform .form__legend {
  padding-bottom: 40px;
}

.form__item--radio {
  margin-bottom: 45px;
}

.form__message {
  margin: 0;
  padding: 0;
  padding-top: 34px;
  border: none;
}

.form__label--textarea {
  font-family: $default-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color--additional;
}

.form__label-value {
  display: block;
  padding-left: 22px;
}

.form__message .form__label-value {
  padding-left: 0;
  text-align: center;
  margin-bottom: 11px;
}

.form__text {
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $border-color;
  padding: 14px 18px;
  padding-bottom: 3px;
  margin-bottom: 42px;
  margin-top: -60px;
  min-height: 201px;
  border-radius: 2px;

  font-family: $default-font;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $text-color;

  resize: none;
}

.form__text:placeholder-shown {
  color: $text-color;
}

.form__button {
  width: 100%;
  min-height: 62px;
  border-radius: 2px;
  margin-bottom: 35px;
}

.form__designation {
  display: block;
  text-align: center;

  font-family: $default-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color;
}

.form__asterisk {
  color: $text-color--additional;
}

.form__asterisk-added {
  display: none;
}

@media (min-width: $tablet-width) {
  .form__label--name {
    display: flex;
    padding-left: 0;
    margin-bottom: 51px;
  }

  .form__label-value {
    padding-right: 18px;
    padding-left: 0;
  }

  .form__label-value--name {
    line-height: 64px;
  }

  .form__name {
    order: 0;
    padding-top: 48px;
    padding-bottom: 0;
  }

  .form__input--name,
  .form__input--contacts {
    margin: 0;
  }

  .form__legend {
    padding: 0 33px;
    margin: 0 auto;
  }

  .form__platform-wrapper {
    order: 1;
    margin-top: 6px;
  }

  .form__platform-wrapper::before {
    display: none;
  }

  .form__platform {
    @include fieldset-border();
    padding-top: 48px;
    padding-bottom: 14px;
  }

  .form__platform .form__legend {
    padding: 0 25px;
  }

  .form__item--radio {
    padding-left: 48px;
  }

  .form__achievements-wrapper {
    order: 3;
  }

  .form__achievements-wrapper::before {
    display: none;
  }

  .form__achievements {
    box-sizing: border-box;
    margin-top: 57px;
    padding-top: 48px;
    padding-right: 58px;
    padding-left: 58px;

    @include fieldset-border();
  }

  .form__label--checkbox {
    padding-left: 60px;
  }

  .form__label--radio::before {
    top: -7px;
    left: 10px;
  }

  .form__input:checked + .form__label--radio::after {
    top: 5px;
    left: 22px;
  }

  .form__contacts {
    @include fieldset-border();
    margin-top: 57px;
    padding-top: 37px;
    padding-right: 58px;
    padding-left: 58px;
    order: 2;
  }

  .form__input--contacts {
    border-right-width: 62px;
    margin-bottom: 8px;
    padding-left: 18px;
  }

  .form__label--contacts {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .form__label-icon {
    position: absolute;
    top: 23px;
    right: 22px;
    fill: $pink;
  }

  .form__label--mail .form__label-icon {
    top: 27px;
  }

  .form__input--contacts:focus ~ .form__label-icon {
    fill: $blue--dark;
  }

  .form__label-value--contacts {
    padding-left: 19px;
    margin-bottom: 29px;
  }

  .form__legend--contacts {
    display: block;
    text-align: center;
  }

  .form__message {
    padding: 37px 58px 47px;
    margin-top: 58px;
    order: 4;

    @include fieldset-border();
  }

  .form__text {
    padding-bottom: 24px;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 193px;
  }

  .form__label-value--message {
    padding-right: 0;
  }

  .form__button {
    width: 300px;
    margin-bottom: 0;
  }

  .form__designation {
    display: block;
    margin-top: 18px;
    margin-right: -1px;
  }

  .form__button-designation-wrapper {
    margin-top: 66px;
    margin-bottom: 35px;
    order: 5;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 42px;
  }

  .form__name {
    width: 50%;
    padding-top: 20px;
  }

  .form__platform-wrapper {
    width: 50%;
  }

  .form__platform {
    margin-left: 35px;
    padding-top: 52px;
  }

  .form__label--name {
    margin-bottom: 52px;
  }

  .form__input--name {
    margin-right: 35px;
  }

  .form__label-icon {
    top: 21px;
    right: 22px;
  }

  .form__label--mail .form__label-icon {
    top: 24px;
    right: 23px;
  }

  .form__item--radio {
    padding-left: 63px;
  }

  .form__contacts {
    padding-top: 35px;
    margin-top: 4px;
    width: 100%;
  }

  .form__contacts-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form__label--contacts {
    width: calc(50% - 35px);
  }

  .form__label--checkbox {
    padding-left: 59px;
  }

  .form__label-value--contacts {
    padding-left: 18px;
    margin-bottom: 15px;
  }

  .form__achievements-wrapper {
    width: 100%;
  }

  .form__achievements {
    margin-top: 56px;
    padding: 48px 58px;
    padding-bottom: 8px;
  }

  .form__list--achievements {
    display: flex;
    flex-wrap: wrap;
  }

  .form__item--achievements:nth-child(1),
  .form__item--achievements:nth-child(2) {
    width: 314px;
  }

  .form__item--achievements:nth-child(3),
  .form__item--achievements:nth-child(4) {
    width: 297px;
  }

  .form__item--achievements:nth-child(5),
  .form__item--achievements:nth-child(6) {
    width: 209px;
  }

  .form__item--achievements:nth-child(1) {
    order: 0;
  }

  .form__item--achievements:nth-child(2) {
    order: 3;
  }

  .form__item--achievements:nth-child(3) {
    order: 1;
  }

  .form__item--achievements:nth-child(4) {
    order: 4;
  }

  .form__item--achievements:nth-child(5) {
    order: 2;
  }

  .form__item--achievements:nth-child(6) {
    order: 5;
  }

  .form__message {
    width: 100%;
    margin-top: 57px;
    padding-top: 35px;
    padding-bottom: 36px;
  }

  .form__legend {
    padding: 0 38px;
  }

  .form__text {
    padding-top: 13px;
    padding-bottom: 21px;
    min-height: 0;
  }

  .form__button-designation-wrapper {
    margin-top: 65px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .form__asterisk-added {
    display: inline;
  }
}
