.header-intro-wrapper {
  background-color: $blue--dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;

  &--inner-page {
    min-height: 171px;
    background-position: 0 256px;
  }
}
