.intro {
  min-height: 238px;

  color: $text-color--header;
  text-align: center;
  position: relative;

  background-color: $background-color-intro;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;

  &--index-page {
    background-position: center calc(100% - 270px);
  }

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 101%;
    background-position: 0 -3px;
  }
}

.intro__page-title {
  display: block;
  margin-top: 30px;
  margin-bottom: 28px;
  padding: 0 20px;

  font-weight: 200;
  font-size: 24px;
}

.intro__wrapper {
  padding-top: 66px;
  padding-bottom: 1px;

  @include wrapper();
}

.intro__wrapper--index-page {
  padding-top: 65px;
  padding-bottom: 7px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 177px;
  background-repeat: no-repeat;


  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }
}

.intro__main-link {
  margin-top: 27px;
  margin-bottom: 32px;
}

.intro__slogan {
  margin-bottom: 314px;
  margin-top: 24px;

  display: inline-block;
  font-weight: 200;
  font-size: 24px;
  color: $text-color--header;
}

.intro__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 20px;
}

.intro__item:nth-child(2) {
  margin-left: -3px;
}

.intro__item-img--google-play {
  margin-top: 8px;
}

.intro__item-img--windows-store {
  margin-top: 12px;
}

.intro__legend {
  margin: 12px 0;
  margin-bottom: 22px;

  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 440px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 0;
    background-size: auto;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
      background-position-y: 1px;
    }
  }

  .intro__page-title {
    font-size: 50px;

    margin-top: 69px;
    margin-bottom: 69px;
  }

  .intro__wrapper {
    padding-top: 110px;
    padding-bottom: 1px;

    line-height: 60px;
  }

  .intro__wrapper--index-page {
    padding-top: 109px;
    padding-bottom: 96px;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -20px bottom;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 701px auto;
    }
  }

  .intro__download-links-wrapper {
    width: calc(50% - 10px);
  }

  .intro__slogan {
    box-sizing: border-box;
    display: block;
    padding: 0 32px;
    margin-top: 93px;
    margin-bottom: 31px;

    font-size: 40px;
    line-height: 48px;
  }

  .intro__main-link {
    margin-top: 16px;
    margin-bottom: 45px;
  }

  .intro__list {
    box-sizing: border-box;
    padding: 0 32px;
    margin-bottom: 14px;
  }

  .intro__item {
    margin: auto 0;
  }

  .intro__item-img--google-play {
    margin-top: 4px;
  }

  .intro__legend {
    width: 310px;
    margin: 14px 0;
    margin-left: -5px;

    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 394px;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2555px auto;
      background-position-y: 12px;
    }
  }

  .intro__wrapper {
    padding-top: 109px;
  }

  .intro__wrapper--index-page {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: calc(50% + 72px) bottom;
    padding-bottom: 106px;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  .intro__page-title {
    padding: 0 96px;
    margin-top: 63px;
    margin-bottom: 63px;
  }

  .intro__download-links-wrapper {
    width: 300px;
  }

  .intro__slogan {
    padding-left: 31px;
    padding-right: 33px;
    margin-top: 108px;

    font-size: 50px;
    line-height: 60px;
  }

  .intro__main-link {
    margin-top: 53px;
    margin-bottom: 66px;

    font-size: 21px;
  }

  .intro__list {
    margin-bottom: 33px;
  }

  .intro__legend {
    width: 311px;
    margin-left: -6px;

    font-weight: lighter;
  }
}
