.intro {
  min-height: 236px;

  color: $text-color--header;
  text-align: center;
  position: relative;

  background-color: $background-color-intro;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
    background-position-y: -3px;
  }

  &__page-title {
    display: block;
    margin-top: 28px;
    margin-bottom: 28px;
    padding: 0 20px;

    font-weight: 200;
    font-size: 24px;
  }

  &__wrapper {
    padding-top: 66px;
    padding-bottom: 1px;
    @include wrapper();
  }

  &__wrapper--index-page {
    padding-top: 65px;
    padding-bottom: 9px;

    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-position: 0 175px;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 256px auto;
    }
  }

  &__main-link {
    margin-top: 25px;
    margin-bottom: 32px;
  }

  &__slogan {
    margin-bottom: 314px;
    margin-top: 23px;

    display: inline-block;
    font-weight: 200;
    font-size: 24px;
    color: $text-color--header;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  &__item:nth-child(2) {
    margin-left: -3px;
  }

  &__item-img--google-play {
    margin-top: 8px;
  }

  &__item-img--windows-store {
    margin-top: 12px;
  }

  &__legend {
    margin: 12px 0;
    margin-bottom: 22px;

    font-size: 14px;
    line-height: 24px;
    font-weight: lighter;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 440px;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
      background-position-y: 1px;
    }

    &__page-title {
      font-size: 50px;

      margin-top: 69px;
      margin-bottom: 69px;
    }

    &__wrapper {
      padding-top: 110px;
      padding-bottom: 1px;

      line-height: 60px;
    }

    &__wrapper--index-page {
      padding-top: 109px;
      padding-bottom: 92px;

      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-position: -20px bottom;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: 701px auto;
      }
    }

    &__download-links-wrapper {
      width: calc(50% - 10px);
    }

    &__slogan {
      box-sizing: border-box;
      display: block;
      padding: 0 32px;
      margin-top: 93px;
      margin-bottom: 31px;

      font-size: 40px;
      line-height: 48px;
    }

    &__main-link {
      margin-top: 16px;
      margin-bottom: 46px;
    }

    &__list {
      box-sizing: border-box;
      padding: 0 32px;
      margin-bottom: 14px;
    }

    &__item {
      margin: auto 0;
    }

    &__legend {
      width: 310px;
      margin: 14px 0;
      margin-left: -5px;

      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 394px;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2555px auto;
      background-position-y: 12px;
    }

    &__wrapper {
      padding-top: 109px;
    }

    &__wrapper--index-page {
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-position: calc(50% + 72px) bottom;
      padding-bottom: 106px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto;
      }
    }

    &__page-title {
      padding: 0 96px;
      margin-top: 63px;
      margin-bottom: 63px;
    }

    &__download-links-wrapper {
      width: 300px;
    }

    &__slogan {
      padding-left: 31px;
      padding-right: 33px;
      margin-top: 108px;

      font-size: 50px;
      line-height: 60px;
    }

    &__main-link {
      margin-top: 53px;
      margin-bottom: 66px;

      font-size: 21px;
    }

    &__list {
      margin-bottom: 33px;
    }

    &__legend {
      width: 311px;
      margin-left: -6px;

      font-weight: lighter;
    }
  }
}
