.intro {

  color: $text-color--header;
  text-align: center;
  position: relative;

  background-color: $background-color-intro;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;

  &__page-title {
    display: block;
    margin-top: 28px;
    margin-bottom: 82px;
    padding: 0 20px;

    font-weight: 200;
    font-size: 24px;
  }

  &__wrapper {
    padding-top: 66px;
    padding-bottom: 1px;
    @include wrapper();
  }

  &__wrapper--index-page {
    padding-top: 65px;
    padding-bottom: 9px;

    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-position: 0 175px;
    background-repeat: no-repeat;
  }

  &__main-link {
    margin-top: 27px;
    margin-bottom: 32px;
  }

  &__slogan {
    margin-bottom: 313px;
    margin-top: 23px;

    display: inline-block;
    font-weight: 200;
    font-size: 24px;
    color: $text-color--header;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  &__item {
    //----- Временно для сетки -------//
    min-height: 56px;
  }

  &__legend {
    font-size: 14px;
    line-height: 24px;
    margin: 22px 0;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    &__page-title {
      font-size: 50px;
    }

    &__wrapper {
      padding-top: 110px;
      padding-bottom: 7px;

      line-height: 60px;
    }

    &__wrapper--index-page {
      padding-top: 109px;
      padding-bottom: 85px;


      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-position: -20px bottom;
      background-repeat: no-repeat;
    }

    &__page-title {
      margin-top: 69px;
      margin-bottom: 141px;
    }

    &__download-links-wrapper {
      width: calc(50% - 10px);
    }

    &__slogan {
      box-sizing: border-box;
      display: block;
      padding: 0 32px;
      margin-top: 93px;
      margin-bottom: 31px;

      font-size: 40px;
      line-height: 48px;
    }

    &__main-link {
      margin-top: 16px;
      margin-bottom: 46px;
    }

    &__list {
      box-sizing: border-box;
      padding: 0 32px;
      margin-bottom: 36px;
    }

    &__legend {
      width: 310px;
      //margin-bottom: 102px;

      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &__wrapper {
      padding-top: 109px;
    }

    &__wrapper--index-page {
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-position: calc(50% + 72px) bottom;
      padding-bottom: 100px;
    }

    &__page-title {
      padding: 0 141px;
      margin-top: 63px;
      margin-bottom: 102px;
    }

    &__download-links-wrapper {
      width: 300px;
    }

    &__slogan {
      padding-left: 31px;
      padding-right: 33px;
      margin-top: 107px;

      font-size: 50px;
      line-height: 60px;
    }

    &__main-link {
      margin-top: 53px;
      margin-bottom: 66px;

      font-size: 21px;
    }

    &__list {
      margin-bottom: 55px;
    }

    &__legend {
      width: 311px;
      //margin-bottom: 115px;
    }
  }
}
