.modal {
  width: 100vw;
  padding: 46px 20px 52px;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  bottom: 100px;
  left: 0;
  display: none;

  text-align: center;
  background-color: $background-color-main;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: $black;
  }

  &__text {
    font-weight: lighter;
    font-size: 14px;
    line-height: 24px;
    color: $text-color;
  }

  &__button {
    margin-top: 43px;
    border-radius: 2px;
  }

  &--show {
    display: block;
    animation: bounce 0.6s;
  }
}

@media (min-width: $tablet-width) {
  .modal {
    width: 460px;
    min-height: 363px;
    padding: 33px 82px 54px;
    left: calc(50vw - 230px);
    bottom: calc(50vh - 160px);

    &--success {
      background: linear-gradient(0deg, $background-color-main--additional 160px, $background-color-main 160px);
    }

    &__title {
      margin-top: 0;
      font-size: 30px;
      line-height: 40px;
      padding: 0 18px;
    }

    &__text {
      font-size: 18px;
      padding: 0 29px;
    }

    &__button {
      margin-top: 85px;
    }
  }
}

@media (min-width: $desktop-width) {
  .modal {
    width: 780px;
    min-height: 337px;
    left: calc(50vw - 390px);
    padding: 50px 162px 54px;

    background: linear-gradient(0deg, $background-color-main--additional 160px, $background-color-main 160px);

    &--success &__button {
      margin-top: 85px;
    }

    &--error &__button {
      margin: 0 auto;
      margin-top: 110px;
      width: 296px;
    }
  }
}
