.page-footer {
  text-align: center;

  background-color: $background-color-main;

  &--index {
    display: none;
  }

  &__wrapper {
    padding-top: 40px;
    @include wrapper();
  }

  &__social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 33px;
    width: 100%;
    //width: 177px;
  }

  &__copyright {
    margin-top: 38px;
  }

  &__link {
    display: block;
  }

  &__item {
    width: 43px;
    height: 43px;
    margin: 0 7px;
    border: 3px solid rgba($blue--dark, 0.1);
    border-radius: 50%;
  }

  &__item:hover {
    border-color: $blue--dark;
  }

  &__item:active {
    opacity: 0.1;
  }

  &__item img {
    margin: auto 0;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    &--index {
      display: block;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 31px;
      padding-bottom: 39px;
    }

    &__logo-link {
      display: block;
    }

    &__social {
      width: 325px;
      margin-top: 3px;
    }

    &__copyright {
      margin-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    &__wrapper {
      padding-top: 70px;
      padding-bottom: 67px;
    }

    &__social {
      margin-top: 5px;
    }
  }
}
