.page-header {
  font-family: $default-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $white;
  position: relative;
  z-index: 2;

  background-color: $background-color-header--shown;
  //background-color: $background-color-header--hidden;

  &__logo-toggle-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 320px;
    min-height: 69px;
    padding: 21px 20px;
    margin: 0 auto;

    // ВРЕМЕННО
    height: 66px;
  }

  &__logo-link {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    &__logo-toggle-wrapper {
      width: 660px;

      min-height: 109px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: $background-color-header--hidden;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      width: 960px;
      margin: 0 auto;
    }


    &__logo-toggle-wrapper {
      min-height: 110px;
      width: auto;
      padding: 25px 10px;
      margin: 0;

      //---- Временно для сетки ------//
      width: 167px;
    }

    &__toggle {
      display: none;
    }
  }
}
