.page-header {
  font-family: $default-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $white;
  position: relative;
  z-index: 2;

  &__logo-toggle-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    width: 100%;
  }

  &__wrapper--menu-closed &__logo-toggle-wrapper {
    padding: 21px 20px;
    padding-bottom: 20px;
    background-color: $background-color-header--closed;
  }

  &__wrapper--menu-opened &__logo-toggle-wrapper {
    padding: 22px 20px 24px;
    background-color: $background-color-header--opened;
  }

  &__toggle {
    margin: auto 0;
    position: relative;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__logo-link {
    line-height: 0;
  }

  &__logo-image {
    width: 75px;
    height: 23px;
    fill: $white;
  }

  &__logo-image:hover {
    fill: $pink;
  }

  &__logo-image:active {
    fill: $white;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    &__wrapper--menu-opened &__toggle {
      margin-top: 19px;
    }

    &__wrapper--menu-closed &__toggle {
      margin-top: 17px;
    }

    &__wrapper &__logo-toggle-wrapper {
      padding-top: 26px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 42px;
    }

    &__logo-image {
      width: 147px;
      height: 41px;
    }
  }
}

@media (max-width: $desktop-width - 1px) {
  .page-header {
    &__wrapper--menu-closed &__main-nav {
      display: none;
    }

    &__wrapper--nojs &__toggle {
      display: none;
    }

    &__wrapper--menu-closed &__toggle {
      width: 50px;
      height: 24px;
    }

    &__wrapper--menu-opened &__toggle {
      width: 23px;
      height: 22px;
    }

    &__wrapper--menu-closed &__toggle::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 50px;
      height: 4px;
      z-index: 2;

      background-color: $menu-mobile-color;
      box-shadow: 0 10px 0 0 $menu-mobile-color, 0 20px 0 0 $menu-mobile-color;
    }

    &__wrapper--menu-closed &__toggle:hover::before {
      background-color: $menu-mobile-color--hover;
      box-shadow: 0 10px 0 0 $menu-mobile-color--hover, 0 20px 0 0 $menu-mobile-color--hover;
    }

    &__wrapper--menu-closed &__toggle:active::before {
      background-color: $menu-mobile-color--active;
      box-shadow: 0 10px 0 0 $menu-mobile-color--active, 0 20px 0 0 $menu-mobile-color--active;
    }

    &__wrapper--menu-opened &__toggle::before,
    &__wrapper--menu-opened &__toggle::after {
      content: "";
      position: absolute;
      top: 10px;
      left: -3px;

      width: 30px;
      height: 4px;
      z-index: 2;

      background-color: $menu-mobile-color;
    }

    &__wrapper--menu-opened &__toggle::before {
      transform: rotate(45deg);
    }

    &__wrapper--menu-opened &__toggle::after {
      transform: rotate(-45deg);
    }

    &__wrapper--menu-opened &__toggle:hover::before,
    &__wrapper--menu-opened &__toggle:hover::after {
      background-color: $menu-mobile-color--hover;
    }

    &__wrapper--menu-opened &__toggle:active::before,
    &__wrapper--menu-opened &__toggle:active::after {
      background-color: $menu-mobile-color--active;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: $background-color-header--closed;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      @include wrapper();
    }

    &__wrapper--menu-closed &__logo-toggle-wrapper,
    &__wrapper--menu-opened &__logo-toggle-wrapper {
      background-color: transparent;
      padding: 25px 0 43px;
      width: auto;
      box-shadow: none;
      border: none;
    }

    &__copyright {
      padding-top: 10px;
    }
  }
}
