.post-content {
  &__photo--panorama-of-the-day {
    display: block;
    width: 100vw;
    height: auto;
    position: relative;
    top: 0;
    left: calc(-50vw + 50%);
  }

  &__text {
    padding-top: 25px;
    padding-right: 18px;
    padding-bottom: 26px;
    padding-left: 18px;
  }

  &__user {
    margin-top: 0;

    font-family: $default-font;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $text-color;
  }

  &__posting-time {
    font-weight: 200;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__message {
    font-family: $default-font;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $text-color;
  }

  &__likes {
    padding-left: 33px;

    font-family: $default-font;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: $text-color--additional;
  }
}
