.price {
  overflow: hidden;

  &__wrapper {
    margin-top: 126px;
    position: relative;
  }

  &__wrapper::before {
    content: "";
    display: block;
    position: absolute;

    width: 130vw;
    height: 1050px;
    top: 40px;
    left: calc(-60vw + 50%);
    transform: rotate(-5deg);

    z-index: -1;
    background-color: $background-color-main--additional;
  }

  &__table-wrapper {
    overflow: hidden;
  }

  &__table {
    border-collapse: collapse;
    width: calc((100vw - 44px) * 3 + 4px);

    transform: translateX(calc(-100vw + 64px));
  }

  &__element {
    padding: 14px 22px;
    border: 2px solid $background-color-main--additional;

    font-family: $default-font;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: $text-color;

    background-color: $background-color-main;
  }

  &__element--additional {
    display: none;
  }

  &__element--header {
    color: $text-color--header;
    border-top-color: $background-color-table-header;
    border-bottom: none;

    background-color: $background-color-table-header;
  }

  &__tariff {
    font-family: $default-font;
    font-weight: bold;
    font-size: 18px;
  }

  &__value {
    font-family: $default-font;
    font-weight: 200;
    font-size: 24px;
  }

  &__toggles {
    text-align: center;
    margin: 35px 0;
  }
}

@media (min-width: $tablet-width) {
  .price {
    &__wrapper {
      padding-top: 104px;
      padding-bottom: 70px;
      @include wrapper();
    }

    &__table {
      width: 100%;
      transform: none;
    }

    &__element {
      width: 25%;
    }

    &__element--additional {
      display: table-cell;
      padding: 7px 14px;

      font-size: 14px;
      text-transform: none;
    }

    &__element--header {
      height: 75px;
      padding: 0;
    }

    &__element--header.price__element--additional {
      border-color: transparent;
      background-color: transparent;
    }

    &__tariff {
      font-size: 16px;
    }

    &__value {
      font-size: 18px;
    }

    &__description {
      display: none;
    }

    &__toggles {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .price {
    &__wrapper {
      padding-top: 171px;
      padding-bottom: 97px;
    }

    &__element--header {
      height: 94px;
    }

    &__tariff {
      font-size: 18px;
    }

    &__value {
      font-size: 24px;
    }

    &__element--additional {
      font-size: 18px;
    }

    &__element--additional {
      box-sizing: border-box;
      padding: 14px 20px;
    }
  }
}
