.reviews {
  text-align: center;
  padding-top: 42px;

  background-color: $background-color-main;

  &__wrapper {
    @include wrapper();
  }

  &__quotes-item {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: column;

    margin: 0;
  }

  &__user-name {
    font-family: $default-font;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 30px;
    color: $heading-color;
  }

  &__text {
    font-family: $default-font;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0;
    color: $text-color;

    margin-bottom: 0;
  }

  &__legend {
    display: none;
  }

  &__toggles-list {
    display: flex;
    justify-content: center;
  }

  &__toggle {
    @include toggles();
  }

  //&__toggle {
  //  display: block;
  //  position: relative;
  //  padding: 0;
  //  margin: 0 10px;
  //  width: 6px;
  //  height: 6px;
  //  background-color: transparent;
  //  border: none;
  //}
  //
  //&__toggle::before {
  //  content: "";
  //  display: block;
  //  position: absolute;
  //  box-sizing: border-box;
  //  width: 6px;
  //  height: 6px;
  //  border: 3px solid $blue--dark;
  //  border-radius: 50%;
  //  background-color: $white;
  //}
  //
  //&__toggle--active::before {
  //  width: 12px;
  //  height: 12px;
  //  margin-left: -2px;
  //  margin-top: -2px;
  //}
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 80px;

    &__user-name {
      order: 1;
      margin-top: 34px;

      font-size: 20px;
    }

    &__text {
      font-size: 18px;
      line-height: 30px;
    }

    &__legend {
      order: 2;
      display: block;
      margin-top: 2px;
      margin-bottom: 0;

      font-size: 14px;
    }

    &__toggles-list {
      margin-top: 19px;
    }

    &__toggles-list {
      margin-top: 4px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 72px;

    &__quotes-item {
      display: block;
      margin: 0 auto;
      fill: #efefef;
    }

    &__list {
      width: 790px;
      margin: 0 auto;
      margin-top: 33px;
    }

    &__user-name {
      margin-top: 35px;

      font-size: 24px;
    }

    &__legend {
      font-size: 18px;
    }

    &__toggles-list {
      display: none;
    }
  }
}
