.reviews {
  text-align: center;
  padding-top: 42px;

  &__wrapper {
    @include wrapper();
  }

  background-color: $background-color-main;

  &__quotes-item {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: column;

    margin: 0;
  }

  &__user-name {
    font-family: $default-font;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 30px;
    color: $heading-color;
  }

  &__text {
    font-family: $default-font;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0;
    color: $text-color;
  }

  &__legend {
    display: none;
  }

  &__toggles {
    margin-top: 8px;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 80px;

    &__user-name {
      order: 1;
      margin-top: 16px;

      font-size: 20px;
    }

    &__text {
      font-size: 18px;
      line-height: 30px;
    }

    &__legend {
      order: 2;
      display: block;
      margin-top: 2px;

      font-size: 14px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 70px;

    &__quotes-item {
      display: block;
      margin: 0 auto;
      fill: #efefef;
    }

    &__list {
      width: 790px;
      margin: 0 auto;
      margin-top: 32px;
    }

    &__user-name {
      margin-top: 18px;

      font-size: 24px;
    }

    &__legend {
      font-size: 18px;
    }

    &__toggles {
      display: none;
    }
  }
}
