.upload {
  background-color: $background-color-main;
  text-align: center;
}

.upload__slogan-wrapper,
.upload__editing-wrapper {
  @include wrapper();
}

.upload__slogan-wrapper {
  padding-top: 11px;
  margin-bottom: 41px;
}

.upload__slogan {
  font-family: $default-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $text-color;
}

.upload__editing-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 27px;
  z-index: 1;

  background-color: $background-color-main--additional;
}

.upload__editing-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: -1;
  background-color: $background-color-main--additional;
  top: 0;
  left: calc(50% - 50vw);
}

@media (min-width: $tablet-width) {
  .upload__slogan-wrapper {
    padding-top: 29px;
    margin-bottom: 69px;
  }

  .upload__slogan {
    font-size: 18px;
  }

  .upload__editing-wrapper {
    padding-top: 57px;
    padding-bottom: 45px;
  }

  .upload__editing {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .upload {
    padding-bottom: 28px;
  }

  .upload__slogan-wrapper {
    padding-top: 2px;
    margin-bottom: 66px;
  }

  .upload__slogan {
    margin-top: 4px;
  }

  .upload__editing-wrapper {
    width: 800px;
    padding-top: 57px;
    padding-right: 60px;
    padding-bottom: 49px;
    padding-left: 80px;
    //margin-bottom: 28px;
  }

  .upload__editing-wrapper::before {
    display: none;
  }
}
