@mixin wrapper() {
  margin: 0 auto;
  @media (min-width: $mobile-width) {
    width: calc(#{$mobile-width} - #{$mobile-padding} * 2);
    padding-right: $mobile-padding;
    padding-left: $mobile-padding;
  }
  @media (min-width: $tablet-width) {
    width: calc(#{$tablet-width} - #{$tablet-padding} * 2);
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
  }
  @media (min-width: $desktop-width) {
    width: calc(#{$desktop-width} - #{$desktop-padding} * 2);
    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
  }
}

@mixin fieldset-border() {
  border: 2px solid $border-color;
}

@mixin toggles() {
  display: block;
  position: relative;
  padding: 0;
  margin: 0 10px;
  width: 6px;
  height: 6px;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 6px;
    height: 6px;
    border: 3px solid rgba($blue--dark, 0.3);
    border-radius: 50%;
    background-color: $white;
  }

  &:hover::before {
    border-color: rgba($blue--dark, 0.6);
  }

  &:active::before {
    border-color: rgba($blue--dark, 0.1);
  }

  &--active::before {
    width: 12px;
    height: 12px;
    margin-left: -2px;
    margin-top: -2px;
    border-color: $blue--dark;
  }

  &--active:hover::before,
  &--active:active::before {
    border-color: $blue--dark;
  }
}
